.card{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    box-shadow: 2px 4px 8px black;
}
.desc{
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
