.face{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 50%;
}
.mouth{
    height: 75px;
    width: 200px;
    background-color: chocolate;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}
.lefteye,.righteye{
    height: 50px;
    width: 50px;
    background-color: bisque;
    border-radius: 50%;
    display: inline block;
    position: absolute;
    top: 100px;
    left: 100px;
}
.righteye{
    left: 250px;
}