.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: FAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}
@keyframes FAnimation{
    from{
        font-size: 20px;
        background-color: aqua;
    }
    to{
        font-size: 50px;
        background-color: brown;
    }
}
@keyframes coloranimate{
    from{
        background-color: green;
    }
    to{
        background-color: red;
    }
}
@keyframes widthanimate{
    from{
        width: 20px;
    }
    to{
        width: 400px;
    }
}
