div {
    height:200px;
    width:600px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 20px; */
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin:10px 20px 30px;
}
h1{
    border-width: 4px;
    border-style: dashed;
    border-color: aqua;
}
