div{
    height: 400px;
    width: 800px;
    background-color: aquamarine;
    border: 2px solid black;
    margin: 10px auto;
    background-image: url("background.jpg");
    background-size: cover;
    color: red;
}